/*idea-input background color: #E5F3F2
h1 "idea" font color: #00A79D
h1 "box" font color: #6D6E71
save button color:#00A79D
save button text color: #FFFFFF
save button on hover color: #045E55
idea-title font color: #6D6E71
idea-content font color: #939598
hr color:#D1D3D4*/
/*header text: roboto*/
/*body text: open sans*/

* {
  margin: auto 0;
  box-sizing: border-box;
}

.idea-input {
  background-color: #e5f3f2;
  height: 38vh;
  /*padding: 10%;*/
  text-align: center;
}
input {
  font-size: 26px;
  height: 40px;
  margin-top: 20px;
  width: 50%;
}
input::placeholder {
  padding-left: 5px;
  color: #939598;
}

button {
  width: 50%;
  height: 48px;
  margin-top: 20px;
  background-color: #00A79D;
  color: #ffffff;
  border: none;
  font-size: 24px;
}

#idea-box-wrappper {
  margin: 0 25% 0 25%;
}

.idea-stage {
  padding: 0 25% 0 25%;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #00A79D;
  font-size: 80px;
  margin-bottom: 20px;
  padding-top: 20px;
}

span {
  color: #6D6E71;
}
